<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <!--    Иконка сайта-->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

    <title>Admin panel</title>

</head>

<body>

<!--СОЗДАЕМ ШАПКУ-->
<header>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container-fluid text-white">
            <span class="navbar-brand">
                <span th:text="${user.getEmail()}"></span>
                <span> with roles: </span>
                <span style="color: white" th:text="${' with roles: ' + user.getRoles()}">
                </span>
            </span>
            <!--ul-Unordered List (Неупорядоченный список), li - List Item-->
            <ul class="navbar-nav ml-auto">
                <!--ml-auto-это margin-left,т.е. автоматический max отступ слева, чтобы все прижать вправо-->
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--СОЗДАЕМ ВКЛАДКИ СЛЕВА, у которых ниже раскрывающиеся блоки под id #v-pills-admin" и под id "#v-pills-user" будет панель юзера
    У вкладки Admin будут еще две вкладки: Users table с id="nav-users_table-tab" и New user id="nav-new_user-tab"-->

<div class="d-flex align-items-start"> <!--align-items-start - это выравнивание по горизонтали. start - это по верху-->

    <div class="col-2">

        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                    type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin
            </button>

            <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                    type="button" role="tab" aria-controls="v-pills-user" aria-selected="true">User
            </button>

        </div>
    </div>

    <!--СОЗДАЕМ ПАНЕЛЬ-->
    <!--    Это то, что вызывается кнопкой Admin. Оно с id "v-pills-admin" -->
    <div class="container-fluid">

        <div class="col-10">

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <p class="fw-bold fs-4">Admin panel</p>

                    <!--Это вкладки: Users table с id="nav-users_table-tab", которая вызывает блок под id "#nav-users_table" и
                    вкладка New user, которая вызывает блок под id #nav-new_user-->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-users_table-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-users_table" type="button" role="tab"
                                    aria-controls="nav-users_table" aria-selected="true">Users table
                            </button>
                            <button class="nav-link" id="nav-new_user-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-new_user" type="button" role="tab" aria-controls="nav-new_user"
                                    aria-selected="false">New User
                            </button>
                        </div>
                    </nav>

                    <!--Это панель, где первая вкладка - button "Users table" под id "nav-users_table-tab",которая вызывает блок под id "#nav-users_table",
                    Состоит из таблицы юзеров, в которой есть 5 обычных полей (ID,First Name,Last Name,Age,Email,Role) и
                    две кнопки, под которые прописаны модальные окна (Edit и Delete)
                    И вторая вкладка button "New user" под id "nav-new_user-tab", которая вызывает блок под id "#nav-new_user"-->


                    <!--Это блок список юзеров под id #nav-users_table", который раскрывается, когда нажимаешь button "Users table"-->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-users_table" role="tabpanel"
                             aria-labelledby="nav-users_table-tab">

                            <h3><b>All Users</b></h3>
                            <table class="table table-striped bg-white border table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="user: ${listUsers}">
                                    <td th:text="${user.getId()}"/>
                                    <td th:text="${user.getFirstName()}"/>
                                    <td th:text="${user.getLastName()}"/>
                                    <td th:text="${user.getAge()}"/>
                                    <td th:text="${user.getEmail()}"/>

                                    <td>
                                        <th:block th:each="userRole : ${user.getRoles()}">
                                            <span th:text="${userRole.toString()}"></span>
                                        </th:block>
                                    </td>

                                    <!-- Сама кнопка Edit и ниже прописано модальное окно для нее -->
                                    <td>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                th:data-bs-target="'#editModal'+${user.getId()}">Edit
                                        </button>
                                    </td>

                                    <!-- Сама кнопка Delete и ниже прописано модальное окно для нее -->
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                th:data-bs-target="'#deleteModal'+ ${user.getId()}">Delete
                                        </button>
                                    </td>

                                    <!--МОДАЛЬНОЕ ОКНО ДЛЯ EDIT-->

                                    <div class="modal" tabindex="-1" th:id="${'editModal'+ user.getId()}"
                                         aria-labelledby="EditModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">

                                                <!-- Заголовок модального окна EDIT -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <!-- Основное содержимое модального окна EDIT -->
                                                <div class="modal-body text-center">
                                                    <div class="d-flex justify-content-center align-items-center container">
                                                        <div class="row">
                                                            <form th:method="PATCH"
                                                                  th:action="@{/admin/form_edit_user/(id=${user.getId()})}"
                                                                  th:object="${user}">

                                                                <div class="mb-3">
                                                                    <label for="edit-id"><b>ID</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-id"
                                                                           th:value="${user.getId()}"
                                                                           th:name="id" disabled>

                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="edit-firstname"><b>First
                                                                        Name</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-firstname"
                                                                           th:value="${user.getFirstName()}"
                                                                           th:name="username" required>

                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="edit-lastname"><b>Last
                                                                        Name</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-lastname"
                                                                           th:value="${user.getLastName()}"
                                                                           th:name="lastname">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="edit-age"><b>Age</b></label>
                                                                    <input class="form-control" type="number"
                                                                           id="edit-age"
                                                                           th:value="${user.getAge()}"
                                                                           th:name="age">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="edit-email"><b>Email</b></label>
                                                                    <input class="form-control" type="text"
                                                                           id="edit-email"
                                                                           th:value="${user.getEmail()}"
                                                                           th:name="email">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="password"><b>Password</b></label>
                                                                    <input type="password"
                                                                           id="passwordEditInput"
                                                                           name="passw"
                                                                           class="form-control" th:value="${''}"
                                                                    >
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="roleEdit"><b>Role</b></label>
                                                                    <select id="roleEdit" class="form-select"
                                                                            name="selectedRoles"
                                                                            th:size="${listRoles.size()}" multiple>
                                                                        <option
                                                                                th:each="role : ${listRoles}"
                                                                                th:selectedRoles="${user.getRoles().contains(role)}"
                                                                                th:name="${role}"
                                                                                th:text="${role}">
                                                                        </option>
                                                                    </select>
                                                                </div>

                                                                <div class="modal-footer text-end">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>

                                                                    <input type="submit" class="btn btn-primary"
                                                                           value="Edit"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--МОДАЛЬНОЕ ОКНО ДЛЯ DELETE-->

                                    <div class="modal" tabindex="-1" th:id="${'deleteModal'+ user.getId()}"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body text-center">
                                                    <div class="d-flex justify-content-center align-items-center container">
                                                        <div class="row">
                                                            <form th:method="DELETE"
                                                                  th:action="@{/admin/delete_user(id=${user.getId()})}"
                                                                  th:object="${user}">

                                                                <div class="mb-3">
                                                                    <label for="delete-id"><b>ID</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-id"
                                                                           th:value="${user.getId()}"
                                                                           name="id" disabled>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="delete-firstname"><b>First
                                                                        Name</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-firstname"
                                                                           th:value="${user.getFirstName()}"
                                                                           name="firstname" disabled>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="delete-lastname"><b>Last
                                                                        Name</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-lastname"
                                                                           th:value="${user.getLastName()}"
                                                                           name="lastname" disabled>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="delete-age"><b>Age</b></label>
                                                                    <input class="form-control" readonly
                                                                           type="number"
                                                                           id="delete-age"
                                                                           th:value="${user.getAge()}"
                                                                           name="age" disabled>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="delete-email"><b>Email</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-email"
                                                                           th:value="${user.getEmail()}"
                                                                           name="email" disabled>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="delete-password"><b>Password</b></label>
                                                                    <input class="form-control" readonly type="text"
                                                                           id="delete-password"
                                                                           th:value="${user.getPassword()}"
                                                                           name="password" disabled>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="roleDelete"><b>Role</b></label>
                                                                    <select id="roleDelete" class="form-select"
                                                                            name="selectedRoles"
                                                                            th:size="${listRoles.size()}" multiple
                                                                            disabled>
                                                                        <option
                                                                                th:each="role : ${listRoles}"
                                                                                th:selectedRoles="${user.getRoles().contains(role)}"
                                                                                th:name="${role}"
                                                                                th:text="${role}">
                                                                        </option>
                                                                    </select>
                                                                </div>

                                                                <div class="modal-footer text-end">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>

                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="Delete"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--Это блок под id "#nav-new_user", который раскрывается, когда нажимаешь вторую вкладку button "New user" под id "nav-new_user-tab"-->
                        <div class="tab-pane fade" id="nav-new_user" role="tabpanel"
                             aria-labelledby="nav-new_user-tab">

                            <p>Add new user</p>

                            <div class="d-flex justify-content-center align-items-center container">
                                <form th:method="POST" th:action="@{/admin/addUser}" th:object="${emptyUser}" method="post">
<!--                                    <div>-->
<!--                                        <label for="username"-->
<!--                                               class="form-label fw-bold">First Name</label>-->
<!--                                        <input type="text" class="form-control" id="username"-->
<!--                                               th:field="*{firstName}"-->
<!--                                               required>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <label for="lastname"-->
<!--                                               class="form-label fw-bold">Last Name</label>-->
<!--                                        <input type="text" class="form-control" id="lastname"-->
<!--                                               th:field="*{lastname}"-->
<!--                                               required>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="age"-->
<!--                                               class="form-label fw-bold">Age</label>-->
<!--                                        <input type="number" class="form-control" id="age" th:field="*{age}"-->
<!--                                               value="0"-->
<!--                                               min="0" required>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="email"-->
<!--                                               class="form-label fw-bold">Email</label>-->
<!--                                        <input type="text" class="form-control" id="email" th:field="*{email}"-->
<!--                                               placeholder="Email"-->
<!--                                               required>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3">-->
<!--                                        <label for="password"-->
<!--                                               class="form-label fw-bold">Password</label>-->
<!--                                        <input type="text" class="form-control" id="password"-->
<!--                                               th:field="*{password}" placeholder="Password" required>-->
<!--                                    </div>-->
<!--                                    <span><b>Role</b></span>-->
<!--                                    <select class="form-select"-->
<!--                                            aria-label="Default select example"-->
<!--                                            th:field="*{roles}" required>-->
<!--                                        <option th:each="role : ${AllRoles}"-->
<!--                                                th:value="${role.getId()}"-->
<!--                                                th:switch="${role.getRole()}">-->
<!--                                            <span th:case="'ROLE_ADMIN'">ADMIN</span>-->
<!--                                            <span th:case="'ROLE_USER'">USER</span>-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                    <br>-->
<!--                                    <input type="submit" class="btn btn-success" value="Add new user"/>-->
                                    <div class="is-nod custom-form">
                                        <label for="username"><b>First name</b></label>
                                        <input type="text" class="form-control" th:field="${emptyUser.getFirstName()}" id="username"
                                               placeholder="First name"
                                               required/>
                                        <label for="name"><b>Last name</b></label>
                                        <input type="text" class="form-control" th:field="${emptyUser.getLastName()}" id="name"
                                               placeholder="Last name"
                                               required/>
                                        <label for="age"><b>Age</b></label>
                                        <input type="number" class="form-control" th:field="${emptyUser.getAge()}" id="age"
                                               placeholder="Age"
                                               required>
                                        <label for="email"><b>Email</b></label>
                                        <input type="email" class="form-control" th:field="${emptyUser.getEmail()}" id="email"
                                               placeholder="Email"
                                               required/>
                                        <label for="password"><b>Password</b></label>
                                        <input type="password" class="form-control" th:field="${emptyUser.getPassw()}" id="password"
                                               placeholder="Password"
                                               required/>
                                        <br>
                                        <div class="form-group">
                                            <label for="role"><b>Role</b></label>
                                            <select id="role" class="form-select" name="selectedRoles"
                                                    th:size="${listRoles.size()}" multiple>
                                                <option
                                                        th:each="role : ${listRoles}"
                                                        th:selectedRoles="${user.getRoles().contains(role)}"
                                                        th:name="${role}"
                                                        th:text="${role}">
                                                </option>
                                            </select>
                                        </div>
                                        <br>
                                    </div>
                                    <button input type="submit" style="margin-top: 10px" class="btn btn-success"
                                            value="Add new user">Add new user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Это раскрывающаяся панель под id "v-pills-user" при нажатии на вкладку User. Появится панель юзера-->
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

                    <p class="fw-bold fs-4">User information-page</p>

                    <p class="fw-bold fs-5">About user</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Surname</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
<!--                            <td th:text="${authenticatedUser.getId()}"/>-->
<!--                            <td th:text="${authenticatedUser.getUsername()}"/>-->
<!--                            <td th:text="${authenticatedUser.getLastname()}"/>-->
<!--                            <td th:text="${authenticatedUser.getAge()}"/>-->
<!--                            <td th:text="${authenticatedUser.getEmail()}"/>-->
<!--                            <td>-->
<!--                                        <span th:each="role : ${authenticatedUser.getRoles()}"-->
<!--                                              th:switch="${role.getRole()}">-->
<!--                                                <span th:case="'ROLE_ADMIN'">ADMIN</span>-->
<!--                                                <span th:case="'ROLE_USER'">USER</span>-->
<!--                                        </span>-->
<!--                            </td>-->
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getFirstName()}"/>
                            <td th:text="${user.getLastName()}"/>
                            <td th:text="${user.getAge()}"/>
                            <td th:text="${user.getEmail()}"/>
                            <td>
                                <th:block th:each="userRole : ${user.getRoles()}">
                                    <span th:text="${userRole.toString()}"></span>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Подключаем JavaScript бутстрапа, включая Popper для позиционирования раскрывающихся списков,
                  всплывающие сообщения и всплывающие подсказки. Размещается перед закрывающим тегом </body>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>