<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<!-- Start Navbar (Шапка)-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <h4>
            <form class="navbar-form navbar-left">
                <strong><span style="color: white" th:text="${user.getEmail()}">VALUE</span></strong>
                <span style="color: white" th:text="${' with roles: ' + user.getRoles()}">VALUE</span>
            </form>
        </h4>
        <ul class="nav navbar-nav navbar-right">
            <form action="/logout">
                <button style="color: gray" type="submit" class="btn btn-link">Logout</button>
            </form>
        </ul>
    </div>
</nav>
<!-- End Navbar (Шапка)-->
<div class="container-fluid">
    <div class="row">
        <!--Start SidebarMenu (Левое меню)-->
        <div class="col bg-white px-0">
            <div class="col-2">
                <div class="d-flex flex-column">
                    <div class="nav flex-column nav-pills" id="tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link text-start active" id="admin-tab" data-bs-toggle="tab"
                                href="#admin-panel"
                                data-bs-target="#admin-panel"
                                type="button" role="tab" aria-controls="admin"
                                aria-selected="true">Admin
                        </button>
                        <button class="nav-link text-start" id="user-tab" data-bs-toggle="tab" href="#user-panel"
                                data-bs-target="#user-panel"
                                type="button" role="tab" aria-controls="user" aria-selected="false">User
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--End SidebarMenu (Левое меню)-->

        <!--     Start   Содержимое вкладок Admin User-->
        <div class="col-10">
            <div id="admin-panel" class="tab-pane in active">
                <h1 id="hhh">Admin panel</h1>
                <div class="col-sm-10">
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </nav>
                    <!--Start вкладки All Users -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <table class="table caption-top table table-striped">
                                <caption>All users</caption>
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FirstName</th>
                                    <th scope="col">LastName</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${listUsers}">
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"/>
                                        <td th:text="${user.getLastName()}"/>
                                        <td th:text="${user.getAge()}"/>
                                        <td th:text="${user.getEmail()}"/>
                                        <td>
                                            <th:block th:each="userRole : ${user.getRoles()}">
                                                <span th:text="${userRole.toString()}"></span>
                                            </th:block>
                                        </td>
                                        <!-- Ячейка для кнопки Edit    -->
                                        <td>
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#Edit' + user.id}">EDIT
                                            </button>
                                            <!--START MODAL EDIT-->
                                            <div class="container">
                                                <div class="card-body" align="center">
                                                    <div class="modal fade" th:id="${'Edit' + user.id}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="#EditLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="#EditLabe">Edit
                                                                        user</h4>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:method="patch"
                                                                          th:action="@{/admin/form_edit_user/(id=${user.getId()})}"
                                                                          th:id="${'Edit' + user.getId()}"
                                                                          th:object="${user}">
                                                                        <div>
                                                                            <label for="userIdEditInput"
                                                                                   class="form-label">UserId</label>
                                                                            <input type="text" id="userIdEditInput"
                                                                                   name="id"
                                                                                   class="form-control"
                                                                                   th:value="${user.getId()}"
                                                                                   disabled>
                                                                        </div>
                                                                        <div>
                                                                            <label for="firstNameEditInput"
                                                                                   class="form-label">First name</label>
                                                                            <input type="text" id="firstNameEditInput"
                                                                                   name="firstName"
                                                                                   class="form-control"
                                                                                   th:value="${user.getFirstName()}"
                                                                                   required>
                                                                        </div>
                                                                        <div>
                                                                            <label for="lastNameEditInput"
                                                                                   class="form-label">Last name</label>
                                                                            <input type="text" id="lastNameEditInput"
                                                                                   name="lastName"
                                                                                   class="form-control"
                                                                                   th:value="${user.getLastName()}"
                                                                                   required>
                                                                        </div>
                                                                        <div>
                                                                            <label for="ageEditInput"
                                                                                   class="form-label">Age</label>
                                                                            <input type="number" id="ageEditInput"
                                                                                   name="age"
                                                                                   class="form-control"
                                                                                   th:value="${user.getAge()}"
                                                                                   required>
                                                                        </div>
                                                                        <div>
                                                                            <label for="emailEdit"
                                                                                   class="form-label">Email</label>
                                                                            <input type="text" id="emailEdit"
                                                                                   name="email"
                                                                                   class="form-control"
                                                                                   th:value="${user.getEmail()}"
                                                                                   required>
                                                                        </div>
                                                                        <div>
                                                                            <label for="passwordEditInput"
                                                                                   class="form-label">Password</label>
                                                                            <input type="password"
                                                                                   id="passwordEditInput"
                                                                                   name="passw"
                                                                                   class="form-control" th:value="${''}"
                                                                            >
                                                                        </div>
                                                                        <br>
                                                                        <label for="roleEdit"><b>Role</b></label>
                                                                        <select id="roleEdit" class="form-select"
                                                                                name="selectedRoles"
                                                                                th:size="${listRoles.size()}" multiple>
                                                                            <option
                                                                                    th:each="role : ${listRoles}"
                                                                                    th:selectedRoles="${user.getRoles().contains(role)}"
                                                                                    th:name="${role}"
                                                                                    th:text="${role}">
                                                                            </option>
                                                                        </select>
                                                                        <br>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">
                                                                                Edit
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END MODAL EDIT-->
                                        </td>
                                        <!-- Ячейка для кнопки Delete    -->
                                        <td>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#Delete' + user.id}">DELETE
                                            </button>
                                            <!--START MODAL Delete-->
                                            <div class="container">
                                                <div class="card-body" align="center">
                                                    <div class="modal fade" th:id="${'Delete' + user.id}" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="#EditLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="#Delete">Delete
                                                                        user</h4>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:method="post"
                                                                          th:action="@{/admin/delete_user(id=${user.getId()})}"
                                                                          th:id="${'Delete' + user.getId()}"
                                                                          th:object="${user}">
                                                                        <div>
                                                                            <label for="userIdDelete"
                                                                                   class="form-label">UserId</label>
                                                                            <input type="text" id="userIdDelete"
                                                                                   name="id"
                                                                                   class="form-control"
                                                                                   th:value="${user.getId()}"
                                                                                   disabled>
                                                                        </div>
                                                                        <div>
                                                                            <label for="firstNameDelete"
                                                                                   class="form-label">First name</label>
                                                                            <input type="text" id="firstNameDelete"
                                                                                   name="firstName"
                                                                                   class="form-control"
                                                                                   th:value="${user.getFirstName()}"
                                                                                   disabled>
                                                                        </div>
                                                                        <div>
                                                                            <label for="lastNameDelete"
                                                                                   class="form-label">Last name</label>
                                                                            <input type="text" id="lastNameDelete"
                                                                                   name="lastName"
                                                                                   class="form-control"
                                                                                   th:value="${user.getLastName()}"
                                                                                   disabled>
                                                                        </div>
                                                                        <div>
                                                                            <label for="ageDelete"
                                                                                   class="form-label">Age</label>
                                                                            <input type="number" id="ageDelete"
                                                                                   name="age"
                                                                                   class="form-control"
                                                                                   th:value="${user.getAge()}"
                                                                                   disabled>
                                                                        </div>
                                                                        <div>
                                                                            <label for="emailDelete"
                                                                                   class="form-label">Email</label>
                                                                            <input type="text" id="emailDelete"
                                                                                   name="email"
                                                                                   class="form-control"
                                                                                   th:value="${user.getEmail()}"
                                                                                   disabled>
                                                                        </div>
                                                                        <br>
                                                                        <label for="roleDelete"><b>Role</b></label>
                                                                        <select id="roleDelete" class="form-select"
                                                                                name="selectedRoles"
                                                                                th:size="${listRoles.size()}" multiple
                                                                                disabled>
                                                                            <option
                                                                                    th:each="role : ${listRoles}"
                                                                                    th:selectedRoles="${user.getRoles().contains(role)}"
                                                                                    th:name="${role}"
                                                                                    th:text="${role}">
                                                                            </option>
                                                                        </select>
                                                                        <br>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">
                                                                                Delete
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--        END MODAL DELETE-->
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--End вкладки All Users -->
                    <!--Start вкладки New User -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <nav class="navbar navbar-light bg-light">
                            <span class="navbar-brand mb-0 h1">Add new User</span>
                        </nav>
                        <!--        START MODAL ADD USER-->
                        <div class="container">
                            <div class="card-body" align="center">

                                <form th:action="@{/admin/addUser}" th:object="${emptyUser}" method="post"
                                      id="addUser" align="center" class="row justify-content-md-center col-md-5">
                                    <div class="is-nod custom-form">
                                        <label for="username"><b>First name</b></label>
                                        <input type="text" class="form-control" th:field="*{firstName}" id="username"
                                               placeholder="First name"
                                               required/>
                                        <label for="name"><b>Last name</b></label>
                                        <input type="text" class="form-control" th:field="*{lastName}" id="name"
                                               placeholder="Last name"
                                               required/>
                                        <label for="age"><b>Age</b></label>
                                        <input type="number" class="form-control" th:field="*{age}" id="age"
                                               placeholder="Age"
                                               required>
                                        <label for="email"><b>Email</b></label>
                                        <input type="email" class="form-control" th:field="*{email}" id="email"
                                               placeholder="Email"
                                               required/>
                                        <label for="password"><b>Password</b></label>
                                        <input type="password" class="form-control" th:field="*{passw}" id="password"
                                               placeholder="Password"
                                               required/>
                                        <br>
                                        <div class="form-group">
                                            <label for="role"><b>Role</b></label>
                                            <select id="role" class="form-select" name="selectedRoles"
                                                    th:size="${listRoles.size()}" multiple>
                                                <option
                                                        th:each="role : ${listRoles}"
                                                        th:selectedRoles="${user.getRoles().contains(role)}"
                                                        th:name="${role}"
                                                        th:text="${role}">
                                                </option>
                                            </select>
                                        </div>
                                        <br>
                                    </div>
                                    <button input type="submit" style="margin-top: 10px" class="btn btn-success"
                                            value="Add new user">Add new user
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--        END MODAL ADD USER-->
                    </div>
                    <!--End вкладки New User -->
                </div>
            </div>
        </div>

        <!--             Start   For User-->
        <div class="col-10">
            <div id="user-panel" class="tab-pane fade">
                <h1>User information-page</h1>
                <h5 class="caption">About user</h5>
                <div class="table-container">
                    <div class="table-responsive">
                        <table class="table caption-top table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">FirstName</th>
                                <th scope="col">LastName</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getFirstName()}"/>
                                <td th:text="${user.getLastName()}"/>
                                <td th:text="${user.getAge()}"/>
                                <td th:text="${user.getEmail()}"/>
                                <td>
                                    <th:block th:each="userRole : ${user.getRoles()}">
                                        <span th:text="${userRole.toString()}"></span>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--   End   User-->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>