<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
  <h2>Редактирование пользователя</h2>
  <br>
  <a th:href="@{/admin}">Назад к списку пользователей</a>
  <br>
  <a th:href="@{/logout}">Выйти</a>
  <br>
  <form th:method="patch" th:action="@{/admin/form_edit_user/(id=${user.getId()})}" th:object="${user}">

    <p>
      <label for="first_name">Имя: </label>
      <input type="text" th:field="${user.firstName}" id="first_name"/>
    </p>
    <p>
      <label for="last_name">Фамилия: </label>
      <input type="text" th:field="${user.lastName}" id="last_name"/>
    </p>
    <p>
      <label for="age">Возраст: </label>
      <input type="text" th:field="${user.age}" id="age"/>
    </p>
    <p>
      <label for="login">Email: </label>
      <input type="text" th:field="${user.email}" id="login"/>
    </p>
      <label for="password">Пароль: </label>
      <input type="password" th:field="${user.passw}" id="password"/>
      <label> (вводить только для изменения, чтобы оставить пароль прежним - оставить пустым)</label>
    </p>
    </p>
        <label for="enabled">Пользователь активирован: </label>
        <input type="checkbox" th:field="${user.enabled}" id="enabled" th:checked="${user.isEnabled()}"/>
    </p>
    <p>Роли:&nbsp
      <th:block th:each="role: ${roles}" required>
        <input
                type="checkbox"
                th:name="selectedRoles"
                th:text="${role}"
                th:value="${role}"
                th:checked="${user.roles.contains(roles)}"

        />
      </th:block>

    <br>
    <input type="submit" value="Сохранить изменения"/>
  </form>
</body>
</html>