<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<!--<form th:method="POST" th:action="@{/addUser}" th:object="${user}">-->
<form th:method="POST" th:action="@{/addUser}" th:object="${user}">
    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName} " id="firstName" required placeholder="First Name" />
<!--    +++++++++-->
<!--    если в теге div if=true, то этот тег div будет показываться. Сообщение об ошибке будет вставляться с помощью таймлифа-->
<!--    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</div>-->
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName" required placeholder="Last Name"/>
    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age" required placeholder="Age"/>
    <label for="email">Enter email: </label>-->
    <input type="text" th:field="*{email}" id="email" required placeholder="Email"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>