<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div id="user-panel" class="tab-pane fade">
    <h1>User information-page</h1>
    <h5 class="caption">About user</h5>
    <div class="table-container">
        <div class="table-responsive">
            <table class="table caption-top table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"/>
                    <td th:text="${user.getLastName()}"/>
                    <td th:text="${user.getAge()}"/>
                    <td th:text="${user.getEmail()}"/>
                    <td>
                        <th:block th:each="userRole : ${user.getRoles()}">
                            <span th:text="${userRole.toString()}"></span>
                        </th:block>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>